body{
    background-image: url('./resources/mainbackground.png');
    background-size: cover; /* Makes the background image cover the entire page */
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    color:white;
}

img{
    position:relative;
    right:100px;
    top:10px;
    height:500px;
    width:900px;
}



